<tr id="entry_fields_<%= form.object.id || form.index %>" data-controller="entry-type">
  <td>
    <%= form.select :account_id,
          @accounts.map { |a| [a.name, a.id] },
          { include_blank: true },
          { class: "select" } %>
  </td>
  <td>
    <%= form.select :entry_type,
          [['Credit', 'credit'], ['Debit', 'debit']],
          { include_blank: true },
          {
            class: "select entry-type-select",
            data: {
              "entry-type-target": "select",
              action: "change->entry-type#change"
            }
          } %>
  </td>
  <td>
    <%= form.number_field :credit_amount,
          step: "0.01",
          class: "input input-bordered w-full credit-amount-field",
          disabled: (form.object.entry_type != "credit"),
          data: { "entry-type-target": "creditAmount" } %>
  </td>
  <td>
    <%= form.number_field :debit_amount,
          step: "0.01",
          class: "input input-bordered w-full debit-amount-field",
          disabled: (form.object.entry_type != "debit"),
          data: { "entry-type-target": "debitAmount" } %>
  </td>
  <td>
    <%= button_tag "Remove Entry",
          formaction: entry_path(form&.object.id || form.index),
          formmethod: :delete,
          data: { turbo_stream: true },
          class: "btn btn-error" %>
  </td>
</tr>
