<div id="<%= dom_id entry %>">
  <p>
    <strong>Transaction:</strong>
    <%= entry.transaction_id %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= entry.account_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= entry.amount %>
  </p>

  <p>
    <strong>Entry type:</strong>
    <%= entry.entry_type %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= entry.created_at %>
  </p>

</div>
