<turbo-frame id="<%= dom_id(transaction, :form) %>">
  <%= form_with(model: transaction, data: {
          turbo_frame: "_top",
          controller: "shortcut",
          shortcut_transaction_id_value: transaction.id,
          shortcut_shortcuts_value: @shortcuts
      }) do |form| %>
    <% if transaction.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
        <ul>
          <% transaction.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="flex">
      <div class="flex">
        <div class="w-1/2 px-2" style="min-width: 600px;">
          <div>
            <%= form.label :raw_description, class: "block mb-1" %>
            <%= form.text_field :raw_description, class: "input w-full mb-4" %>
          </div>
          <div>
            <%= form.label :user_description, class: "block mb-1" %>
            <%= form.text_field :user_description, class: "input w-full mb-4" %>
          </div>
          <div>
            <%= form.label :amount, class: "block mb-1" %>
            <%= form.number_field :amount, value: (form.object.amount.to_f / 100 if form.object.amount), class: "input w-full mb-4" %>
          </div>
          <div>
            <%= form.label :transaction_date, class: "block mb-1" %>
            <%= form.date_field :transaction_date, class: "input w-full mb-4" %>
          </div>
          <%= form.submit class: "btn btn-primary" %>
        </div>
      </div>
      <div class="w-1/2 px-2" style="min-width: 300px;">
        <table class="table table-zebra w-full" id="entries">
          <thead>
            <tr>
              <th>Account</th>
              <th>Type (Credit/Debit)</th>
              <th>Credit</th>
              <th>Debit</th>
            </tr>
          </thead>
          <tbody>
            <%= form.fields_for :entries do |entries_form| %>
              <%= render partial: "entries/entry_fields", locals: { form: entries_form, accounts: @accounts } %>
            <% end %>
            <td></td>
            <td></td>
            <td>
              <%= number_to_currency(
              -transaction.entries.select { |e| e.entry_type == "credit" }
                .sum { |e| e.amount.to_f / 100 }
              ) %>
            </td>
            <td>
              <%= number_to_currency(
                transaction.entries.select { |e| e.entry_type == "debit" }
                          .sum { |e| e.amount.to_f / 100 }
                ) %>
            </td>
          </tbody>
        </table>
        <div class="flex justify-center mt-4">
          <%= button_tag "Add Entry", formaction: new_entry_path(transaction_id: transaction.id), formmethod: :get, data: {turbo_stream: true}, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</turbo-frame>
