<%# Expected locals: transactions, current %>
<% @entries ||= []%>
<%= turbo_frame_tag "transaction_table" do %>
  <script type="module">
    const prev = document.getElementById("prev-link");
    const next = document.getElementById("next-link");

    document.addEventListener("keydown", (e) => {
      const t = e.target;

      if (e.ctrlKey && e.key === ",") {
        if (prev && prev.href) {
          e.preventDefault();
          Turbo.visit(prev.href, { frame: "transaction_table" });
        }
      } else if (e.ctrlKey && e.key === ".") {
        if (next && next.href) {
          e.preventDefault();
          Turbo.visit(next.href, { frame: "transaction_table" });
        }
      }
    });
  </script>
  <div>
    <table class="table table-zebra table-sm w-5/6">
      <thead></thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Raw Description</th>
        <th scope="col">User Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% transactions.each do |transaction| %>
        <td>
          <%= transaction.transaction_date&.strftime("%Y-%m-%d") %>
        </td>
        <td><%= transaction.raw_description %></td>
        <td><%= transaction.user_description %></td>
        <td>
            <%= number_to_currency(transaction.amount.to_f / 100) %>
        </td>
        <td>
          <%= button_to "Delete", transaction_path(transaction.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-error" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Prev",
          frame_transactions_path(curr: @prev&.id),
          id: "prev-link",
          class: "btn" %>
<%= link_to "Next",
          frame_transactions_path(curr: @next&.id),
          id: "next-link",
          class: "btn" %>
</div>
<div class="w-full">
  <%= render "transactions/form", transaction: current %>
</div>
<% end %>
