<div id="<%= dom_id transaction_document %>">
  <p>
    <strong>Transaction:</strong>
    <%= transaction_document.transaction_id %>
  </p>

  <p>
    <strong>Filepath:</strong>
    <%= transaction_document.filepath %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transaction_document.description %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= transaction_document.created_at %>
  </p>

  <p>
    <strong>Uploaded at:</strong>
    <%= transaction_document.uploaded_at %>
  </p>

</div>
