<p style="color: green"><%= notice %></p>

<% content_for :title, "Shortcut keys" %>

<h1>Shortcut keys</h1>

<div class="overflow-x-auto">
  <table class="table table-zebra w-full">
    <thead>
      <tr>
        <th>Name</th>
        <th>Key Combination</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @shortcut_keys.each do |shortcut_key| %>
        <tr>
          <td><%= shortcut_key.name %></td>
          <td><%= shortcut_key.combination %></td>
          <td>
            <%= link_to "Show", shortcut_key, class: "btn btn-sm btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New shortcut key", new_shortcut_key_path, class: "btn btn-success mt-4" %>
