<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :account_type, style: "display: block" %>
    <%= form.select :account_type, Account.account_types.keys.map { |k| [k.humanize, k] }, { prompt: "Select account type" }, {required: true} %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


